<app-item *ngIf="formGroup" [formGroup]="formGroup" class="mb-6">
  <tui-input-password [formControlName]="name" [tuiTextfieldSize]="size">
    {{ label }}
    <input
      [autocomplete]="autocomplete"
      [disabled]="isDisabled || (loading$ | async) || false"
      [placeholder]="placeholder"
      [tuiTextfieldCleaner]="hasClear"
      tuiTextfield
      type="password"
    />
  </tui-input-password>
  <tui-error [error]="[] | tuiFieldError | async" [formControlName]="name"> </tui-error>
</app-item>
