@use './palette/palette' as palette;

@import './resets/resets';
@import './variables/variables';
@import './mixin/mixin';
@import './typography/typography';
@import './layout/layout';

.bg-primary {
  background-color: palette.$primary-color;
}

.text-primary {
  color: palette.$primary-color;
}


ul,
li {
  list-style: none;
}

div {
  word-wrap: break-word;
}

