@use './palette/palette' as palette;

@import './resets/resets';
@import './variables/variables';
@import './mixin/mixin';
@import './typography/typography';
@import './layout/layout';

body {
  font-size: 13px;
}

.bg-primary {
  background-color: palette.$primary-color;
}

.text-primary {
  color: palette.$primary-color;
}

a {
  text-decoration: none;
  color: palette.$primary-color;
}

ul,
li {
  list-style: none;
}

div {
  word-wrap: break-word;
}
