<app-form
  (saveClicked)="onSaveClicked()"
  [class]="'max-w-md' + formClasses"
  [formGroup]="formGroup"
  [saveText]="saveText"
  [valid]="form.valid"
  subtitle="Please fill in your preferences."
  title="Preferences">
  <app-combo-box [options]="currencyOptions" label="Currency" name="currency"></app-combo-box>
  <app-label
    [formGroup]="notificationMethodsFormGroup"
    for="notificationMethods"
    label="Notification Methods">
    <app-check-box label="Sms" name="sms"></app-check-box>
    <app-check-box label="Email" name="email"></app-check-box>
  </app-label>
  <ng-content></ng-content>
</app-form>
