$sizes: (
  '0': 0px,
  '1': 0.125rem,
  '2': 0.25rem,
  '3': 0.375rem,
  '4': 0.5rem,
  '5': 0.625rem,
  '6': 0.75rem,
  '7': 0.875rem,
  '8': 1rem,
  '9': 1.25rem,
  '10': 1.5rem,
  '11': 1.75rem,
  '12': 2rem /* 32 px */
);

$break_point_default: 0;
$break_point_sm: 320;
$break_point_md: 768;
$break_point_lg: 769;
$grid_cols: 12;

$card_width_xs: 350;
$card_width_sm: 320;
$card_width_md: 500;
$card_width_lg: 768;

$map_grid_props: (
  '': $break_point_default,
  '-sm': $break_point_sm,
  '-md': $break_point_md,
  '-lg': $break_point_lg
);

$font-weights: ('regular': 300, 'medium': 400, 'bold': 500);


