<app-stepper
  (activeStepIndexChange)="onStepChanged($event)"
  *ngIf="viewModel$ | async as viewModel"
  [activeStepIndex]="viewModel.currentStepIndex"
  [steps]="ResetPasswordFormSteps">
  <app-expand [expanded]="!resetPasswordForm.valid">
    <app-notification *ngIf="viewModel.formError" status="error">
      <p class="tui-text_body-s">{{ viewModel.formError }}</p>
    </app-notification>
  </app-expand>

  <app-reset-password-form
    (saveClicked)="onResetPassword()"
    *ngIf="viewModel.currentStepIndex === ResetPasswordFormStepType.PasswordReset">
  </app-reset-password-form>

  <app-reset-password-result
    *ngIf="viewModel.currentStepIndex === ResetPasswordFormStepType.PasswordResetResult">
  </app-reset-password-result>
</app-stepper>

<app-card class="max-w-md m-auto mt-6">
  <p class="tui-text_body-s text-center">
    <app-link text="Back to login." to="../../login"></app-link>
  </p>
</app-card>
