<div class="col-sm-12 col-md-6 col-lg-4">
  <app-loading-indicator [showLoader]="isLoading">
    <ng-container>
      <app-stepper
        (currentStepIndexChange)="onStepChanged($event)"
        [currentStepIndex]="currentStepIndex"
        [steps]="steps"
        class="full-width"
      >
        <app-reset-password-form
          (saveClicked)="onResetPassword()"
          *ngIf="currentStepIndex === STEPS.PASSWORD_RESET"
          [form]="resetPasswordForm"
        >
        </app-reset-password-form>

        <app-reset-password-result *ngIf="currentStepIndex === STEPS.PASSWORD_RESET_RESULT">
        </app-reset-password-result>
      </app-stepper>
      <app-card class="full-width mt-6">
        <div class="full-width flex-center text-center">
          <app-link text="Back to login." to="../../login"></app-link>
        </div>
      </app-card>
    </ng-container>
  </app-loading-indicator>
</div>
