<div class="mb-10 pb-4 row items-center justify-space-between border-bottom">
  <app-header [subtitle]="subtitle" [title]="title"></app-header>
  <app-button
    (clicked)="onAddUser()"
    appearance="flat"
    icon="tuiIconUserPlus"
    size="s"
    text="New user"></app-button>
</div>
<app-users
  (disableAccountClicked)="onDisableAccount($event)"
  (enableAccountClicked)="onEnableAccount($event)"
  (paginationChanged)="onPagination($event)"
  (viewUserDetailsClicked)="onViewUserDetails($event)"
  *ngIf="viewModel$ | async as viewModel"
  [pagination]="viewModel.usersPagination"
  [total]="viewModel.userPage.total"
  [users]="viewModel.userPage.data"></app-users>
