<app-form
  (saveClicked)="onSaveClicked()"
  [class]="'max-w-md' + formClasses"
  [formGroup]="formGroup"
  [saveText]="saveText"
  [valid]="form.valid"
  subtitle="Please fill in your address details."
  title="Address Details">
  <app-text-field
    autocomplete="address-line1"
    label="Address Line"
    name="addressLine"
    placeholder="i.e. Kings Crossing Unit 2">
  </app-text-field>
  <app-text-field
    autocomplete="street-address"
    label="Street"
    name="street"
    placeholder="i.e. 14 Jump Street">
  </app-text-field>
  <app-combo-box [options]="countryOptions" label="Country" name="country"></app-combo-box>
  <app-text-field label="Province" name="province" placeholder="i.e. Western Cape"></app-text-field>
  <app-text-field label="City" name="city" placeholder="i.e. Cape Town"></app-text-field>
  <app-text-field
    autocomplete="postal-code"
    label="Postal Code"
    name="postalCode"
    placeholder="i.e. 1632">
  </app-text-field>
  <ng-content></ng-content>
</app-form>
