<app-table
  (paginationChanged)="onPagination($event)"
  [columns]="Columns"
  [data]="cryptoCurrencies"
  [keys]="Keys"
  [pagination]="pagination"
  [rowDataTemplates]="{ code, name, symbol, circulatingSupply, actions }"
  [total]="total"
  class="col-sm-12 col-md-10 col-lg-10"></app-table>

<ng-template #code let-cryptoCurrency> {{ cryptoCurrency.code }} </ng-template>

<ng-template #name let-cryptoCurrency> {{ cryptoCurrency.name }} </ng-template>

<ng-template #symbol let-cryptoCurrency> {{ cryptoCurrency.symbol }} </ng-template>

<ng-template #circulatingSupply let-cryptoCurrency>
  {{ cryptoCurrency.circulatingSupply }}
</ng-template>

<ng-template #actions let-cryptoCurrency>
  <div class="row">
    <app-button
      (clicked)="onEditCurrency(cryptoCurrency.code)"
      appearance="flat"
      icon="tuiIconEdit2"
      size="xs"
      title="Edit"></app-button>
  </div>
</ng-template>
