<app-form
  (cancelClicked)="onCancelClicked()"
  (saveClicked)="onSaveClicked()"
  [cancelHidden]="false"
  [cancelText]="cancelText"
  [formGroup]="formGroup"
  [saveText]="saveText"
  [subtitle]="'A verification code has been sent to your ' + verificationMethod + ' ' + (otpRecipient | maskEmail)"
  [valid]="form.valid"
  class="max-w-md m-auto"
  title="Verification Code">
  <app-otp-input
    #otpInput
    [label]="'Please enter ' + otpLength + ' digits code'"
    [length]="otpLength"
    name="otp"></app-otp-input>
</app-form>
