<div class="col border-top pt-8">
  <div class="row justify-space-between">
    <p class="mr-4 col-8 row-item-title">Currency Pair</p>
    <p class="col-3 row-item-description">BTC/USD</p>
  </div>
  <div class="row justify-space-between">
    <p class="col-8 mr-4 row-item-title">Ask Rate</p>
    <p class="col-3 row-item-description">1.2000</p>
  </div>
  <div class="row justify-space-between">
    <p class="col-8 mr-4 row-item-title">Bid Rate</p>
    <p class="col-3 row-item-description">200</p>
  </div>
  <div class="row justify-space-between">
    <app-button
      (clicked)="onDeclineRate()"
      appearance="accent"
      class="grow"
      text="Decline"></app-button>
    <app-button (clicked)="onAcceptRate()" class="grow ml-4" text="Accept"></app-button>
  </div>
</div>
