<app-tabs
  (activeItemIndexChange)="onActiveTabIndexChange($event)"
  [activeItemIndex]="activeTabIndex"
  [tabs]="TransactTabs"></app-tabs>
<form [formGroup]="formGroup" class="mt-6">
  <app-combo-box
    [options]="paymentMethodOptions"
    label="Payment Method"
    name="paymentMethod"></app-combo-box>
  <app-combo-box
    [label]="WalletLabels[activeTabIndex]"
    [options]="walletOptions"
    name="wallet"></app-combo-box>
  <div *ngIf="selectedWallet$ | async as selectedWallet" class="mb-4 border col">
    <div class="p-4 row items-center justify-space-between">
      <p class="col-8">Available Balance</p>
      <p class="col-3">
        <app-money
          [currency]="selectedWallet.value.currency.symbol"
          [precision]="6"
          [value]="selectedWallet.value.balance"></app-money>
      </p>
    </div>
  </div>
  <div class="mb-4 row justify-space-between">
    <app-combo-box
      [options]="currencyOptions"
      class="col-12 col-sm-12 col-md-7"
      label="Amount Currency"
      name="amountCurrency"></app-combo-box>
    <app-input-number
      class="col-12 col-sm-12 col-md-4"
      label="Amount"
      name="amount"></app-input-number>
  </div>
  <app-button
    (clicked)="onSubmit()"
    [disabled]="!form.valid"
    [text]="TransactActions[activeTabIndex]"
    class="mt-4"></app-button>
</form>
