<div class="col">
  <app-tabs
    (activeItemIndexChange)="onActiveTabIndexChange($event)"
    [activeItemIndex]="activeTabIndex"
    [tabs]="TradeTabs"></app-tabs>
  <form [formGroup]="formGroup" class="flex-col mt-10">
    <app-combo-box
      [options]="currencyPairOptions"
      label="Currency Pair"
      name="currencyPair"></app-combo-box>
    <div class="mb-4 row justify-space-between">
      <app-combo-box
        [options]="filteredCurrencyOptions"
        class="col-12 col-sm-12 col-md-7"
        label="Amount Currency"
        name="amountCurrency"></app-combo-box>
      <app-input-number
        class="col-12 col-sm-12 col-md-4"
        label="Amount"
        name="amount"></app-input-number>
    </div>
    <app-button
      (clicked)="onAction()"
      [disabled]="!form.valid"
      [text]="TradeActions[activeTabIndex]"
      class="mt-4"></app-button>
  </form>
</div>
