<ng-container *ngIf="viewModel$ | async as viewModel">
  <div class="mb-10 pb-4 row items-center justify-space-between border-bottom">
    <app-header [subtitle]="subtitle" [title]="title"></app-header>
    <app-button
      (clicked)="onViewTransactions()"
      appearance="flat"
      icon="tuiIconEye"
      size="s"
      text="View History"></app-button>
  </div>
  <app-card
    *ngIf="viewModel.currentStepIndex !== TransactStep.TRANSACT_CONFIRMATION"
    class="max-w-md">
    <app-stepper
      (activeStepIndexChange)="onStepChanged($event)"
      [activeStepIndex]="viewModel.currentStepIndex"
      [steps]="TransactSteps"
      class="mt-6">
    </app-stepper>
    <app-transact-form
      (activeTabIndexChange)="onActiveTabIndexChange($event)"
      (submitClicked)="onRequestTransaction($event)"
      *ngIf="viewModel.currentStepIndex === TransactStep.TRANSACT_REQUEST"
      [activeTabIndex]="viewModel.activeTabIndex"
      [currencyCode]="viewModel.currencyCode"
      [currencyOptions]="viewModel.currencyOptions"
      [paymentMethodOptions]="viewModel.paymentMethodOptions"
      [walletOptions]="viewModel.walletOptions">
    </app-transact-form>
    <app-transact-bank-details-form
      (saveClicked)="viewModel.activeTabIndex === TransactTabType.DEPOSIT ? onDeposit() : onWithDraw()"
      *ngIf="viewModel.currentStepIndex === TransactStep.BANK_DETAILS">
    </app-transact-bank-details-form>
  </app-card>
  <app-card
    *ngIf="viewModel.currentStepIndex === TransactStep.TRANSACT_CONFIRMATION"
    class="max-w-md">
    <app-transact-confirmation
      (payAgainClicked)="onPayAgain()"
      (viewPaymentsClicked)="onViewPayments()"
      [paymentResponse]="viewModel.paymentResponse"></app-transact-confirmation>
  </app-card>
</ng-container>
