<ng-container *ngIf="mode$ | async as mode">
  <div class="flex-row justify-space-between border-bottom mb-10">
    <app-header [subtitle]="subtitle" [title]="title"></app-header>
    <div class="flex-row">
      <app-button
        (clicked)="onViewTransactions()"
        appearance="outline"
        text="Transaction History"></app-button>
    </div>
  </div>
  <app-card *ngIf="currentStepIndex !== TRANSACT_STEPS.TRANSACT_CONFIRMATION" class="max-w-md">
    <app-stepper
      (currentStepIndexChange)="onStepChanged($event)"
      [currentStepIndex]="currentStepIndex"
      [steps]="transactSteps"
      class="mt-6">
    </app-stepper>
    <app-transact-form
      (actionClicked)="onRequestTransaction($event)"
      *ngIf="currentStepIndex === TRANSACT_STEPS.TRANSACT_REQUEST"
      [(activeTabIndex)]="activeTabIndex"
      [currencyCode]="currencyCode">
    </app-transact-form>
    <app-transact-bank-details-form
      (saveClicked)="onSaveBankingDetails()"
      *ngIf="currentStepIndex === TRANSACT_STEPS.BANK_DETAILS">
    </app-transact-bank-details-form>
  </app-card>
  <app-card
    *ngIf="currentStepIndex === TRANSACT_STEPS.TRANSACT_CONFIRMATION"
    class="col-sm-12 col-md-6 col-lg-6">
    <app-transact-confirmation
      (payAgainClicked)="onPayAgain()"
      (viewPaymentsClicked)="onViewPayments()"
      [paymentResponse]="paymentResponse"></app-transact-confirmation>
  </app-card>
</ng-container>
