<div class="col-sm-12 col-md-6 col-lg-4">
  <app-stepper
    (currentStepIndexChange)="onStepChanged($event)"
    [currentStepIndex]="currentStepIndex"
    [steps]="steps"
    class="full-width"
  >
    <app-reset-password-request-form
      (saveClicked)="onStepChanged(STEPS.PASSWORD_RESULT)"
      *ngIf="currentStepIndex === STEPS.PASSWORD_REQUEST"
      [form]="resetPasswordRequestForm"
    >
    </app-reset-password-request-form>
    <app-reset-password-request-result
      (resendClicked)="onRequestPasswordReset()"
      (retryClicked)="onStepChanged(STEPS.PASSWORD_REQUEST)"
      *ngIf="currentStepIndex === STEPS.PASSWORD_RESULT"
      [passwordLinkRecipient]="passwordLinkRecipient"
      [username]="username || ''"
    >
    </app-reset-password-request-result>
  </app-stepper>
  <app-card class="full-width mt-6">
    <div class="full-width flex-center text-center">
      <app-link text="Back to login." to="../login"></app-link>
    </div>
  </app-card>
</div>
