<app-stepper
  (currentStepIndexChange)="onStepChanged($event)"
  [currentStepIndex]="currentStepIndex"
  [steps]="steps">
  <app-expand [isExpanded]="!resetPasswordRequestForm.valid">
    <app-notification *ngIf="formError$ | async as formError" status="error">
      <p class="tui-text_body-s">{{ formError }}</p>
    </app-notification>
  </app-expand>
  <app-reset-password-request-form
    (saveClicked)="onRequestPasswordReset()"
    *ngIf="currentStepIndex === STEPS.PASSWORD_REQUEST">
  </app-reset-password-request-form>
  <app-reset-password-request-result
    (resendClicked)="onRequestPasswordReset()"
    *ngIf="currentStepIndex === STEPS.PASSWORD_RESULT"
    [passwordLinkRecipient]="passwordLinkRecipient">
  </app-reset-password-request-result>
</app-stepper>

<app-card class="max-w-md m-auto mt-6">
  <p class="tui-text_body-s text-center">
    <app-link text="Back to login." to="../login"></app-link>
  </p>
</app-card>
