<app-stepper
  (activeStepIndexChange)="onStepChanged($event)"
  *ngIf="viewModel$ | async as viewModel"
  [activeStepIndex]="viewModel.currentStepIndex"
  [steps]="ResetPasswordFormSteps">
  <app-expand [expanded]="!resetPasswordRequestForm.valid">
    <app-notification *ngIf="viewModel.formError" status="error">
      <p class="tui-text_body-s">{{ viewModel.formError }}</p>
    </app-notification>
  </app-expand>
  <app-reset-password-request-form
    (saveClicked)="onRequestPasswordReset()"
    *ngIf="viewModel.currentStepIndex === ResetPasswordFormStepType.PasswordRequest">
  </app-reset-password-request-form>
  <app-reset-password-request-result
    (resendClicked)="onRequestPasswordReset()"
    *ngIf="viewModel.currentStepIndex === ResetPasswordFormStepType.PasswordResult"
    [passwordLinkRecipient]="viewModel.passwordLinkRecipient">
  </app-reset-password-request-result>
</app-stepper>

<app-card class="max-w-md m-auto mt-6">
  <p class="tui-text_body-s text-center">
    <app-link text="Back to login." to="../login"></app-link>
  </p>
</app-card>
