<div class="mb-10 pb-4 row items-center border-bottom">
  <app-header [subtitle]="subtitle" [title]="title"></app-header>
</div>

<app-table
  (paginationChanged)="onPagination($event)"
  [columns]="Columns"
  [data]="currencies"
  [keys]="Keys"
  [pagination]="pagination"
  [rowDataTemplates]="{ name, askRate, bidRate, change,circulatingSupply, actions }"
  [total]="total"
  class="max-w-3xl"></app-table>

<ng-template #name let-currency>
  <div class="row-nowrap col-spacing-xs items-center">
    <app-avatar [text]="currency.code" class="currency-avatar" size="s"></app-avatar>
    <p>{{ currency.name }}</p>
  </div>
</ng-template>

<ng-template #askRate let-currency>
  <div class="row-nowrap col-spacing-xs items-center justify-space-between">
    <p>{{ currency.askRate }}</p>
    <app-button
      (clicked)="onSell(currency.code)"
      appearance="outline"
      size="s"
      text="SELL"></app-button>
  </div>
</ng-template>

<ng-template #bidRate let-currency>
  <div class="row-nowrap col-spacing-xs items-center justify-space-between">
    <p>{{ currency.bidRate }}</p>
    <app-button
      (clicked)="onBuy(currency.code)"
      appearance="outline"
      size="s"
      text="BUY"></app-button>
  </div>
</ng-template>

<ng-template #change let-currency>
  <div class="row justify-end">{{ currency.change}}%</div>
</ng-template>

<ng-template #circulatingSupply let-currency>
  <div class="row justify-end">
    <app-money [currency]="currency.code" [value]="currency.circulatingSupply"></app-money>
  </div>
</ng-template>

<ng-template #actions>
  <div class="row-nowrap col-spacing-xs items-center justify-end">
    <app-icon-button icon="tuiIconInfo"></app-icon-button>
    <app-icon-button icon="tuiIconChevronRight"></app-icon-button>
  </div>
</ng-template>
