<div *ngIf="formGroup" [formGroup]="formGroup" class="item">
  <tui-combo-box
    (searchChange)="onSearch($event)"
    *tuiLet="options$ | async as filteredOptions"
    [formControlName]="name"
    [stringify]="toString"
    [tuiTextfieldSize]="size"
    [valueContent]="content"
    class="combo-box-content">
    {{ label }}
    <input
      (input)="onSearch(extractValueFromEvent($event))"
      class="search-input"
      placeholder="Type something"
      tuiTextfield />

    <ng-container *tuiDataList>
      <cdk-virtual-scroll-viewport
        (scrolledIndexChange)="list.handleFocusLossIfNecessary()"
        [itemSize]="44"
        [style.height.px]="(height$ | async) || 44"
        tuiScrollable>
        <tui-data-list #list>
          <button
            *cdkVirtualFor="let filteredOption of filteredOptions"
            [value]="filteredOption"
            tuiOption>
            <ng-container
              [ngTemplateOutletContext]="{ $implicit: filteredOption }"
              [ngTemplateOutlet]="content"></ng-container>
          </button>
        </tui-data-list>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </tui-combo-box>
</div>

<ng-template #content let-item>
  <div class="row mt-2 items-center text-center">
    <div>
      <tui-avatar [autoColor]="true" [text]="item.code" size="xs"></tui-avatar>
    </div>
    <div class="ml-4">
      <span>{{ item.name }}</span>
    </div>
  </div>
</ng-template>
