<div *ngIf="viewModel$ | async as viewModel" class="col">
  <div class="mb-10 border-bottom pb-4 row items-center justify-space-between">
    <app-header [subtitle]="subtitle" [title]="title"></app-header>
    <app-button
      (clicked)="onTradeHistory()"
      appearance="flat"
      icon="tuiIconEye"
      size="s"
      text="View History"></app-button>
  </div>
  <div class="col">
    <app-stepper
      (activeStepIndexChange)="onStepChanged($event)"
      [activeStepIndex]="viewModel.currentStepIndex"
      [steps]="TradeSteps"
      class="mt-6 mx-w-md">
    </app-stepper>
    <ng-container *ngIf="viewModel.currentStepIndex !== TradeStepType.TRADE_CONFIRMATION">
      <app-trade-form
        (actionClicked)="onRequestTrade($event)"
        (activeTabIndexChange)="onActiveTabIndexChanged($event)"
        *ngIf="viewModel.currentStepIndex === TradeStepType.TRADE_REQUEST"
        [activeTabIndex]="viewModel.activeTabIndex"
        [currencyOptions]="viewModel.currencyOptions"
        [currencyPairName]="viewModel.currencyPairName"
        [currencyPairOptions]="viewModel.currencyPairOptions">
      </app-trade-form>
      <app-trade-quote
        (acceptQuoteClicked)="onAcceptQuote($event)"
        (declineQuoteClicked)="onDeclineQuote()"
        *ngIf="viewModel.currentStepIndex === TradeStepType.TRADE_QUOTE"
        [currencyPairName]="viewModel.tradeModel && viewModel.tradeModel.currencyPairName || null"
        [exchangeRate]="viewModel.currencyExchangeRate"
        [quote]="viewModel.currencyQuote"
        [tradeAction]="viewModel.tradeAction"></app-trade-quote>
    </ng-container>
    <app-card
      *ngIf="viewModel.currentStepIndex === TradeStepType.TRADE_CONFIRMATION"
      class="col-sm-12 col-md-9 col-lg-5">
      <app-trade-confirmation
        (tradeAgainClicked)="onTradeAgainClicked()"
        (viewTradesClicked)="onViewTradesClicked()"
        [tradeResponse]="viewModel.tradeResponse"></app-trade-confirmation>
    </app-card>
  </div>
</div>
