@use '@angular/material' as mat;
@use '../palette/palette' as palette;

@include mat.core();

$mat-primary-color: (
  50: palette.$primary-color,
  100: palette.$primary-color,
  200: palette.$primary-color,
  300: palette.$primary-color,
  400: palette.$primary-color,
  500: palette.$primary-color,
  600: palette.$primary-color,
  700: palette.$primary-color,
  800: palette.$primary-color,
  900: palette.$primary-color,
  A100: palette.$primary-color,
  A200: palette.$primary-color,
  A400: palette.$primary-color,
  A700: palette.$primary-color,
  contrast: (
    50: palette.$white-color,
    100: palette.$white-color,
    200: palette.$white-color,
    300: palette.$white-color,
    400: palette.$white-color,
    500: palette.$white-color,
    600: palette.$white-color,
    700: palette.$white-color,
    800: palette.$white-color,
    900: palette.$white-color,
    A100: palette.$white-color,
    A200: palette.$white-color,
    A400: palette.$white-color,
    A700: palette.$white-color,
  ),
);

$mat-accent-color: (
  50: palette.$negative-color,
  100: palette.$negative-color,
  200: palette.$negative-color,
  300: palette.$negative-color,
  400: palette.$negative-color,
  500: palette.$negative-color,
  600: palette.$negative-color,
  700: palette.$negative-color,
  800: palette.$negative-color,
  900: palette.$negative-color,
  A100: palette.$negative-color,
  A200: palette.$negative-color,
  A400: palette.$negative-color,
  A700: palette.$negative-color,
  contrast: (
    50: palette.$white-color,
    100: palette.$white-color,
    200: palette.$white-color,
    300: palette.$white-color,
    400: palette.$white-color,
    500: palette.$white-color,
    600: palette.$white-color,
    700: palette.$white-color,
    800: palette.$white-color,
    900: palette.$white-color,
    A100: palette.$white-color,
    A200: palette.$white-color,
    A400: palette.$white-color,
    A700: palette.$white-color,
  ),
);

$mat-warn-color: (
  50: palette.$warning-color,
  100: palette.$warning-color,
  200: palette.$warning-color,
  300: palette.$warning-color,
  400: palette.$warning-color,
  500: palette.$warning-color,
  600: palette.$warning-color,
  700: palette.$warning-color,
  800: palette.$warning-color,
  900: palette.$warning-color,
  A100: palette.$warning-color,
  A200: palette.$warning-color,
  A400: palette.$warning-color,
  A700: palette.$warning-color,
  contrast: (
    50: palette.$white-color,
    100: palette.$white-color,
    200: palette.$white-color,
    300: palette.$white-color,
    400: palette.$white-color,
    500: palette.$white-color,
    600: palette.$white-color,
    700: palette.$white-color,
    800: palette.$white-color,
    900: palette.$white-color,
    A100: palette.$white-color,
    A200: palette.$white-color,
    A400: palette.$white-color,
    A700: palette.$white-color,
  ),
);

$app-primary: mat.define-palette($mat-primary-color, 500);
$app-accent: mat.define-palette($mat-accent-color, 500);
$app-warn: mat.define-palette($mat-warn-color, 500);

$app-typography-config: mat.define-typography-config(
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.02em),
  $headline-4: mat.define-typography-level(34px, 40px, 400, $letter-spacing: -0.02em),
  $headline-5: mat.define-typography-level(24px, 32px, 400, $letter-spacing: -0.02em),
  $headline-6: mat.define-typography-level(18px, 22px, 400, $letter-spacing: -0.02em),
  $subtitle-1: mat.define-typography-level(18px, 22px, 400, $letter-spacing: -0.02em),
  $subtitle-2: mat.define-typography-level(18px, 22px, 400, $letter-spacing: -0.02em),
  $body-1: mat.define-typography-level(16px, 14px, 300, $letter-spacing: -0.02em),
  $body-2: mat.define-typography-level(14px, 12px, 300, $letter-spacing: -0.02em),
  $caption: mat.define-typography-level(18px, 22px, 400, $letter-spacing: -0.02em),
  $button: mat.define-typography-level(18px, 22px, 400, $letter-spacing: -0.02em),
  $font-family: 'Roboto',
);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    typography: $app-typography-config,
    density: 0,
  )
);

@include mat.typography-hierarchy($app-theme);
@include mat.core-theme($app-theme);
@include mat.all-component-themes($app-theme);
