<app-form
  (saveClicked)="onSaveClicked()"
  [class]="'max-w-md' + formClasses"
  [formGroup]="formGroup"
  [saveText]="saveText"
  [valid]="form.valid"
  subtitle="It's free to sign up and only takes a minute."
  title="Create new Account">
  <app-text-field
    autocomplete="username"
    label="Username"
    name="username"
    placeholder="john@gmail.com"
    type="email">
  </app-text-field>
  <app-combo-box *ngIf="!hideRole" [options]="roleOptions" label="Role" name="role"></app-combo-box>
  <app-password-field
    autocomplete="new-password"
    label="Password"
    name="password"></app-password-field>
  <ng-content></ng-content>
</app-form>
