<ng-container *ngIf="_breakpoint$ | async as breakpoint">
  <tui-scrollbar
    [ngClass]="breakpoint === 'mobile' ? 'stepper-mobile' : 'stepper-desktop'"
    class="flex-col stepper-scrollbar mb-10">
    <tui-stepper
      #tuiStepper
      (activeItemIndexChange)="onCurrentStepChanged($event)"
      [activeItemIndex]="currentStepIndex"
      class="stepper-content">
      <button
        *ngFor="let step of steps; index as i"
        [disabled]="(stepsOptions.length <= i && i > 0) || (stepsOptions.length > i && stepsOptions[i].isDisabled)"
        [stepState]="(stepsOptions.length > i && stepsOptions[i].state) || 'normal'"
        tuiStep>
        {{ step }}
      </button>
    </tui-stepper>
  </tui-scrollbar>
</ng-container>
<ng-content></ng-content>
