<div class="mb-10 pb-4 row items-center justify-space-between border-bottom">
  <app-header [subtitle]="subtitle" [title]="title"></app-header>
  <app-button
    (clicked)="onTrade()"
    appearance="outline"
    icon="tuiIconShuffle"
    size="s"
    text="Trade"></app-button>
</div>

<app-trades
  (paginationChanged)="onPagination($event)"
  *ngIf="viewModel$ | async as viewModel"
  [pagination]="viewModel.tradesPagination"
  [total]="viewModel.tradePage.total"
  [trades]="viewModel.tradePage.data"></app-trades>
