<tui-loader [overlay]="true" [showLoader]="(loading$ | async) ?? false">
  <table [columns]="isStringArray(columns) && columns || []" class="table" tuiTable>
    <thead>
      <tr tuiThGroup>
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="isString(column)">
            <th *tuiHead="column" [sorter]="null" class="th" tuiTh>
              <div *ngIf="keys; else elseBlock" class="col flex-center">{{ keys[column] }}</div>
              <ng-template #elseBlock>{{ column }}</ng-template>
            </th>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
    <tbody [data]="data" tuiTbody>
      <tr *ngFor="let item of data" class="tr" tuiTr>
        <ng-container *ngFor="let column of columns">
          <td *tuiCell="isString(column) && column || ''" tuiTd>
            <ng-container
              *ngIf="rowDataTemplates && rowDataTemplates[column] as templateRef; else elseBlock">
              <ng-container
                *ngTemplateOutlet="templateRef; context: { $implicit: item }"></ng-container>
            </ng-container>
            <ng-template #elseBlock>
              <ng-container *ngIf="hasColumn(item, column)">{{ item[column] }}</ng-container>
            </ng-template>
          </td>
        </ng-container>
      </tr>
    </tbody>
    <ng-container *ngTemplateOutlet="tableFoot"></ng-container>
  </table>
</tui-loader>

<ng-template #tableFoot>
  <tfoot class="tfoot">
    <tr class="tr">
      <td [colSpan]="columns.length" class="td">
        <tui-table-pagination
          (paginationChange)="onPagination($event)"
          [page]="pagination.page"
          [size]="pagination.size"
          [total]="total"
          class="tui_space-top-2"></tui-table-pagination>
      </td>
    </tr>
  </tfoot>
</ng-template>
