<div *ngIf="user" class="app-bar-wrapper color gray p-2 flex-row items-center text-center">
  <tui-marker-icon
    (click)="onMenuToggle(true)"
    *ngIf="isMobile"
    [src]="'tuiIconMenu'"
    class="mx-5"
    mode="primary"
    size="xs"></tui-marker-icon>
  <p *ngIf="isMobile" class="tui-text_body-s">Coinverse</p>
  <div class="ml-auto flex-row items-center text-center">
    <app-button
      (clicked)="onSignOut()"
      appearance="outline"
      class="mr-5"
      icon="tuiIconLogOut"
      size="s"
      text="Signout"></app-button>
    <tui-avatar
      (click)="onGotoProfile()"
      [rounded]="true"
      [text]="user.firstName + ' ' + user.lastName"
      [tuiHintAppearance]="'onLight'"
      [tuiHintDirection]="'bottom-left'"
      [tuiHint]="tooltip"
      class="custom user-avatar my-auto mr-5"
      size="s"></tui-avatar>
  </div>
</div>

<ng-template #tooltip>
  <ng-container *ngIf="user">
    <div class="flex-col">
      <p class="tui-text_body-s ml-5">{{ user.firstName + ' ' }}{{ user.lastName }}</p>
      <p class="tui-text_body-s ml-5">{{ user.username }}</p>
    </div>
  </ng-container>
</ng-template>
