<app-container class="container page">
  <app-logo></app-logo>
  <app-item>
    <tui-island>
      <app-form [formGroup]="loginForm">
        <app-item class="mb-6">
          <tui-input formControlName="username" tuiTextfieldSize="m">
            Username
            <input placeholder="john@gmail.com" tuiTextfield type="email"/>
          </tui-input>
        </app-item>
        <app-item class="mb-6">
          <tui-input-password formControlName="password" tuiTextfieldSize="m">
            Password
            <input tuiTextfield/>
          </tui-input-password>
        </app-item>
      </app-form>
    </tui-island>
  </app-item>
  <!--  <app-item class="mb-8">-->
  <!--    <app-card subtitle="Please sign in to continue." title="Welcome back!">-->
  <!--      <app-form [formGroup]="loginForm" saveText="Sign in">-->
  <!--        <app-item>-->
  <!--          <app-text-field [isRequired]="true" label="Username"-->
  <!--                          name="username" placeholder="john@gmail.com"></app-text-field>-->
  <!--        </app-item>-->
  <!--        <app-item>-->
  <!--          <app-password-field label="Password"-->
  <!--                              name="password"></app-password-field>-->
  <!--        </app-item>-->
  <!--        <app-item class="mb-6">-->
  <!--          <app-link text="Forgot password?" to="/register"></app-link>-->
  <!--        </app-item>-->
  <!--      </app-form>-->
  <!--    </app-card>-->
  <!--  </app-item>-->
  <!--  <app-item class="flex-center">-->
  <!--    <app-card>-->
  <!--      <app-item class="mt-6">-->
  <!--        <app-text> New here?-->
  <!--          <app-link text="Create an account." to="/register"></app-link>-->
  <!--        </app-text>-->
  <!--      </app-item>-->
  <!--    </app-card>-->
  <!--  </app-item>-->
</app-container>
