.side-menu {
  height: 100%;
  width: 12rem;
  background: var(--tui-base-02);
  position: fixed;
}

.side-menu,
.menu-header {
  transition-timing-function: ease-in;
  transition: width 500ms;
}

.menu-header {
  background: var(--tui-primary);
  position: sticky;
  z-index: 100;
}

.menu-header, .side-menu {
  top: 0;
  z-index: 100;
}

.menu-header, .side-menu, .main {
  overflow-x: hidden;
}


