<div (tuiActiveZoneChange)="onClickOutside($event)" class="h-full">
  <header
    *ngIf="show"
    [ngStyle]="{ 'margin-left.rem': show ? sideMenuWidth : 0 }"
    [style.width]="'calc(100% - ' + (show ? (sideMenuWidth + 0.1) + 'rem' : '0rem') + ')'"
    class="menu-header">
    <app-menu-header
      (gotoProfileClicked)="onGotoProfile()"
      (signOutClicked)="onSignOut()"
      (toggleMenuClicked)="onToggleMenu($event)"
      [isMobile]="isMobile"
      [user]="user">
    </app-menu-header>
  </header>
  <nav *ngIf="show" [ngStyle]="{ 'width.rem': sideMenuWidth }" class="side-menu">
    <app-side-menu
      [isMobile]="isMobile"
      [menuItems]="menuItems"
      [show]="showSideMenu"
      [user]="user"></app-side-menu>
  </nav>
  <main
    [ngStyle]="{
      'margin-left.rem': show ? sideMenuWidth : 0
    }"
    [style.width]="'calc(100% - ' + (show ? (sideMenuWidth + 0.1) + 'rem' : '0rem') + ')'"
    class="h-full main">
    <app-logo *ngIf="!user || !show" class="mt-10"></app-logo>
    <div class="grow main-content page full-width">
      <ng-content></ng-content>
    </div>
  </main>
</div>
