<div *ngIf="paymentResponse" class="flex-col border-top pt-8">
  <div class="flex-col flex-center">
    <app-avatar avatarUrl="tuiIconCheckLarge" class="mb-10" size="l"></app-avatar>
    <app-text class="mb-10">Your payment has been created successfully</app-text>
  </div>
  <div class="flex-row justify-space-between">
    <p class="col-8 row-item-title">Id</p>
    <p class="col-3 ml-4 row-item-description">{{ paymentResponse.id }}</p>
  </div>
  <div class="flex-row justify-space-between">
    <p class="col-8 row-item-title">Amount</p>
    <p class="col-3 ml-4 row-item-description">
      <app-money
        [currency]="paymentResponse.currency"
        [precision]="6"
        [value]="paymentResponse.amount"
      ></app-money>
    </p>
  </div>
  <div class="flex-row justify-space-between">
    <p class="col-8 row-item-title">Method</p>
    <p class="col-3 ml-4 row-item-description">{{ paymentResponse.method }}</p>
  </div>
  <div class="flex-row justify-space-between">
    <p class="col-8 row-item-title">Status</p>
    <p class="col-3 ml-4 row-item-description">{{ paymentResponse.status }}</p>
  </div>
  <div class="flex-row justify-space-between">
    <p class="col-8 row-item-title">Created At</p>
    <p class="col-3 ml-4 row-item-description">
      {{ paymentResponse.createdAt | date: 'dd/MM/yy HH:mm' }}
    </p>
  </div>
  <div class="flex-row justify-space-between">
    <app-button (click)="onViewPayments()" appearance="accent" class="grow" text="View Payments"></app-button>
    <app-button (click)="onPayAgain()" class="grow ml-4" text="Pay Again"></app-button>
  </div>
</div>
