@use '../../../styles/palette/palette' as palette;

.logo-icon-container {
  width: 100%;
}

tui-svg.icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 32px;
  color: var(--tui-primary);
}
