<app-expand [expanded]="!form.dirty">
  <app-notification *ngIf="error" status="error">
    <p class="tui-text_body-s">{{ error }}</p>
  </app-notification>
</app-expand>
<app-form
  (saveClicked)="onSaveChanges()"
  [formGroup]="formGroup"
  [saveText]="saveText"
  [valid]="form.valid"
  subtitle="You can update your password here."
  title="Password & Security">
  <app-password-field
    autocomplete="current-password"
    label="Current Password"
    name="currentPassword">
  </app-password-field>
  <app-password-field autocomplete="new-password" label="New Password" name="newPassword">
  </app-password-field>
</app-form>
