$primary-color: #164b60;
$secondary-color: #1b6b93;
$tertiary-color: #4fc0d0;
$negative-color: #f44336;
$background-color: #f5f5f5;
$warning-color: #ffeb3b;
$gray-light-color: #f5f5f5;
$gray-dark-color: #435b66;
$blue-dark-color: #001c30;
$alpha-primary-color: rgba($primary-color, 0.5);
$white-color: #ffffff;
$black-color: #222222;
