$primary-color: #164B60;
$secondary-color: #1B6B93;
$tertiary-color: #4FC0D0;
$negative-color: #F44336;
$background-color: #F5F5F5;
$warning-color: #FFEB3B;
$gray-light-color: #F5F5F5;
$gray-dark-color: #435B66;
$blue-dark-color: #001C30;
$alpha-primary-color: rgba($primary-color, 0.5);
$white-color: #FFFFFF;
$black-color: #222222;
