<app-card [subtitle]="subtitle" [title]="title" class="w-full">
  <form class="form col">
    <ng-content></ng-content>
    <div class="row justify-space-between mt-6">
      <app-button
        (clicked)="onCancelClicked()"
        *ngIf="!cancelHidden"
        [loading]="(loading$ | async) || false"
        [text]="cancelText"
        appearance="outline"
        type="reset">
      </app-button>
      <app-loading-indicator
        [ngClass]="{ 'col-4': !cancelHidden }"
        [show]="(loading$ | async) || false">
        <app-button
          (clicked)="onSaveClicked()"
          [disabled]="!valid"
          [loading]="(loading$ | async) || false"
          [text]="saveText"></app-button>
      </app-loading-indicator>
    </div>
  </form>
</app-card>
