<div *ngIf="viewModel$ | async as viewModel" class="row">
  <app-card
    [actionsContent]="transactActions"
    class="col-sm-12 col-md-12 col-lg-5"
    subtitle="Balance in ZAR"
    title="Total Balance">
    <app-ring-chart
      [extraLabels]="viewModel.walletCurrencySymbols"
      [labels]="viewModel.walletCurrencyNames"
      [total]="viewModel.totalBalance"
      [value]="viewModel.walletBalances"></app-ring-chart>
  </app-card>
  <app-card
    [actionsContent]="tradeActions"
    class="col-sm-12 col-md-12 col-lg-5 max-w-3xl"
    subtitle="Your balance history"
    title="Balance History">
    <app-line-chart></app-line-chart>
  </app-card>
</div>
<app-markets
  (buyClicked)="onBuy($event)"
  (paginationChanged)="onCryptoCurrencyPagination($event)"
  (sellClicked)="onSell($event)"
  *ngIf="viewModel$ | async as viewModel"
  [currencies]="viewModel.cryptoCurrencyPage.data"
  [pagination]="viewModel.cryptoCurrencyPagination"
  [total]="viewModel.cryptoCurrencyPage.total"
  class="mt-10"></app-markets>
<ng-template #transactActions>
  <app-button appearance="flat" icon="tuiIconArrowDownLeft" size="s" text="Deposit"></app-button>
  <app-button appearance="flat" icon="tuiIconArrowUpRight" size="s" text="Withdraw"></app-button>
</ng-template>

<ng-template #tradeActions>
  <app-button appearance="flat" icon="tuiIconShuffle" size="s" text="Trade"></app-button>
</ng-template>
