<div class="mb-10 pb-4 row items-center border-bottom">
  <app-header [subtitle]="subtitle" [title]="title"></app-header>
  <app-button
    (clicked)="onDeposit()"
    appearance="outline"
    class="ml-auto"
    size="s"
    text="Deposit"></app-button>
  <app-button (clicked)="onWithdraw()" appearance="outline" size="s" text="Withdraw"></app-button>
</div>

<app-table
  (paginationChanged)="onPagination($event)"
  *ngIf="viewModel$ | async as viewModel"
  [columns]="columns"
  [data]="viewModel.payments"
  [keys]="keys"
  [pagination]="viewModel.pagination"
  [rowDataTemplates]="{id, amount, method, action, status, createdAt}"
  [total]="viewModel.total">
</app-table>

<ng-template #id let-payment> {{ payment.id }} </ng-template>

<ng-template #amount let-payment> {{ payment.currency + ' ' }}{{ payment.amount }} </ng-template>

<ng-template #method let-payment> {{ payment.method }} </ng-template>

<ng-template #action let-payment> {{ payment.action }} </ng-template>

<ng-template #status let-payment> {{ payment.status }} </ng-template>

<ng-template #createdAt let-payment> {{ payment.createdAt | date: 'dd/MM/yy HH:mm' }} </ng-template>
