<div class="flex-col">
  <div class="flex-row justify-space-between border-bottom">
    <app-header [subtitle]="subtitle" [title]="title"></app-header>
    <div class="flex-row">
      <app-button (clicked)="onDeposit()" appearance="primary" size="s" text="Deposit"></app-button>
      <app-button
        (clicked)="onWithdraw()"
        appearance="accent"
        class="ml-4"
        size="s"
        text="Withdraw"
      ></app-button>
    </div>
  </div>
  <div class="mt-6 col-sm-12 col-md-10 col-lg-10">
    <tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
      <table *ngIf="payments$ | async as payments" [columns]="columns" class="table" tuiTable>
        <thead>
        <tr tuiThGroup>
          <ng-container *ngFor="let column of columns">
            <th *tuiHead="column" [sorter]="null" tuiTh>
              {{ keys[column] }}
            </th>
          </ng-container>
        </tr>
        </thead>
        <tbody [data]="payments" class="tbody" tuiTbody>
        <tr *ngFor="let payment of payments" tuiTr>
          <td *tuiCell="'id'" [class.match]="isMatch(payment.id)" tuiTd>
            {{ payment.id }}
          </td>
          <td *tuiCell="'amount'" [class.match]="isMatch(payment.amount)" tuiTd>
            {{ payment.currency + ' ' }}{{ payment.amount }}
          </td>
          <td *tuiCell="'method'" [class.match]="isMatch(payment.method)" tuiTd>
            {{ payment.method }}
          </td>
          <td *tuiCell="'action'" [class.match]="isMatch(payment.action)" tuiTd>
            {{ payment.action }}
          </td>
          <td *tuiCell="'status'" [class.match]="isMatch(payment.status)" tuiTd>
            {{ payment.status }}
          </td>
          <td *tuiCell="'createdAt'" [class.match]="isMatch(payment.createdAt)" tuiTd>
            {{ payment.createdAt | date: 'dd/MM/yy HH:mm' }}
          </td>
        </tr>
        </tbody>
        <ng-container *ngTemplateOutlet="tableFoot"></ng-container>
      </table>
    </tui-loader>
  </div>
</div>

<ng-template #tableFoot>
  <tfoot class="tfoot">
  <tr class="tr">
    <td [colSpan]="columns.length" class="td">
      <ng-container *ngIf="pagination$ | async as pagination">
        <tui-table-pagination
          (paginationChange)="onPagination($event)"
          [page]="pagination.page"
          [size]="pagination.size"
          [total]="(total$ | async) || 0"
          class="tui_space-top-2"
        ></tui-table-pagination>
      </ng-container>
    </td>
  </tr>
  </tfoot>
</ng-template>
