<tui-ring-chart
  [(activeItemIndex)]="activeItemIndex"
  [value]="value"
  class="col justify-space-between"
  size="l">
  <p>Total</p>
  <p>{{ total | number }}</p>
</tui-ring-chart>
<div class="col">
  <app-chart-legend-item
    (hoverChange)="onHover(index, $event)"
    *ngFor="let label of labels; let index = index"
    [active]="isItemActive(index)"
    [color]="getColor(index)"
    [text]="label">
    <app-money
      [currency]="extraLabels[index]"
      [singleColor]="true"
      [value]="value[index]"
      class="ml-auto"></app-money>
  </app-chart-legend-item>
</div>
