<div class="flex-col">
  <div class="flex-row justify-space-between border-bottom mb-12">
    <app-header [subtitle]="subtitle" [title]="title"></app-header>
  </div>

  <div class="flex-col">
    <app-stepper
      (currentStepIndexChange)="onStepChanged($event)"
      [currentStepIndex]="currentStepIndex"
      [steps]="formSteps"
    >
      <div class="col-sm-12 col-md-5 col-lg-5">
        <app-personal-information-form
          (saveClicked)="onStepChanged(FORM_STEPS.ADDRESS_DETAILS)"
          *ngIf="currentStepIndex === FORM_STEPS.PERSONAL_INFORMATION"
          [form]="personalInformationForm"
          class="cont"
          saveText="Next"
        >
        </app-personal-information-form>
        <app-address-details-form
          (saveClicked)="onStepChanged(FORM_STEPS.PREFERENCE_DETAILS)"
          *ngIf="currentStepIndex === FORM_STEPS.ADDRESS_DETAILS"
          [form]="addressDetailsForm"
          saveText="Next"
        >
        </app-address-details-form>

        <app-preference-details-form
          (saveClicked)="onStepChanged(FORM_STEPS.ACCOUNT_DETAILS)"
          *ngIf="currentStepIndex === FORM_STEPS.PREFERENCE_DETAILS"
          [form]="preferenceDetailsForm"
          saveText="Next"
        >
        </app-preference-details-form>

        <app-account-details-form
          (saveClicked)="onStepChanged(MAX_NUMBER_OF_STEPS)"
          *ngIf="currentStepIndex === FORM_STEPS.ACCOUNT_DETAILS"
          [form]="accountDetailsForm"
          saveText="Add User"
        >
        </app-account-details-form>
      </div>
    </app-stepper>
  </div>
</div>
