<ng-container [ngSwitch]="variant">
  <button (click)="onClick()" *ngSwitchCase="'primary'" [disabled]="isDisabled || isLoading" [type]="type"
          class="full-width btn-large"
          color="primary" mat-flat-button>
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </button>
  <button (click)="onClick()" *ngSwitchCase="'secondary'" [disabled]="isDisabled || isLoading" [type]="type"
          class="full-width"
          color="secondary" mat-stroked-button>
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </button>
  <button (click)="onClick()" *ngSwitchCase="'alternate'" [disabled]="isDisabled || isLoading" [type]="type"
          class="full-width"
          color="accent" mat-button>
    <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
  </button>
</ng-container>

<ng-template #buttonContent>
  <app-row>
    <app-col>
      <app-loading-indicator *ngIf="showLoadingIndicator && isLoading"
                             [diameter]="32"
                             [strokeWidth]="3">

      </app-loading-indicator>
    </app-col>
    <app-col>
      <ng-container *ngIf="!showLoadingIndicator || (showLoadingIndicator && !isLoading)">
        {{text}}
      </ng-container>
    </app-col>
  </app-row>
</ng-template>
