@use '@taiga-ui/core/styles/mixins/mixins' as mixins;

$primary-clr: #6788ff;
$side-menu-height: 3.5rem;
$side-menu-width: 12rem;
$side-menu-header-height: 3.5rem;
$side-menu-border-width: 1px;
$menu-item-height: 3.5rem;
$side-menu-header-bg: linear-gradient(225deg, #3023ae, #c86dd7);
$size-sm: 1px;

@mixin border-right($color: $primary-clr, $width: $side-menu-border-width) {
  border-left: $width solid $color;
}

@mixin flex($direction: row, $align-items: center, $text-align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  text-align: $text-align;
}

app-side-menu, .side-menu-mobile {
  display: block;
  height: 100%;

  .side-menu-content {
    margin-top: $size-sm;
    row-gap: $size-sm;
  }

  .side-menu-header {
    height: $side-menu-header-height;
    @include border-right();
    background-image: $side-menu-header-bg;
  }

  .logo {
    @include flex($direction: column);
    //$side-menu-header-height: 3.4rem;
  }

  .icon {
    //color: var(--tui-base-01);
  }

  .side-menu-logo .t-content, .side-menu-logo .t-icon {
    color: var(--tui-base-01);
  }
}

.side-menu-mobile {
  width: 100%;
}
