@use '@taiga-ui/core/styles/mixins/mixins' as mixins;

.box {
  height: 100px;
  @include mixins.shadow(6);
  border-bottom: 1px solid var(--tui-base-02);
}

.link {
  padding: 1rem;
  border-bottom: solid 1px var(--tui-base-01);
  //background: var(--tui-base-02);
}

.side-menu-content {
  margin-top: 1px;
  row-gap: 1px;
}

.link.selected {
  background: var(--tui-base-03);
}

.menu-toggle {
  height: 3.4rem;
  border-right: solid 1px var(--tui-primary);
  background: var(--tui-primary);
}

.side-menu-header {
  height: 3.4rem;
  background: var(--tui-primary);
}

.side-menu-over {
  width: 100%;
  @include mixins.shadow(6);
}

.side-menu-push {
  width: 12rem;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  height: 3.4rem;
  color: var(--tui-base-01);
}

.icon {
  color: var(--tui-base-01);
}

.active {
  color: var(--tui-primary) !important;
}
