<div *tuiSidebar="isMobile && show; direction: 'left'" class="side-menu-mobile">
  <ng-container [ngTemplateOutlet]="menuContent" />
</div>
<ng-container *ngIf="!isMobile">
  <ng-container [ngTemplateOutlet]="menuContent" />
</ng-container>

<ng-template #menuContent>
  <div class="side-menu-header row middle w-full">
    <a
      class="side-menu-logo ml-9 side-menu-header__logo"
      icon="tuiIconApertureLarge"
      iconAlign="left"
      routerLink="dashboard"
      tuiLink
      >{{ appName }}</a
    >
  </div>
  <div *ngIf="user" class="col justify-center items-center mb-6 mt-6 w-full">
    <app-avatar [text]="user.firstName + ' ' + user.lastName" size="m"></app-avatar>
    <p class="tui-text_body-s">Hello, {{ user.firstName}}</p>
    <p class="tui-text_body-s tui-island__paragraph">{{ user.emailAddress }}</p>
  </div>
  <section class="side-menu-content">
    <app-menu-items [items]="menuItems" />
  </section>
</ng-template>
