<div *ngIf="viewModel$ | async as viewModel" class="col border-top pt-8">
  <div class="row justify-space-between">
    <p class="mr-4 col-8 row-item-title">Currency Pair</p>
    <p class="col-3 row-item-description">{{ viewModel.exchangeRate?.currencyPairName }}</p>
  </div>
  <div class="row justify-space-between">
    <p class="mr-4 col-8 row-item-title">Currency Pair Type</p>
    <p class="col-3 row-item-description">{{ viewModel.exchangeRate?.currencyPairType }}</p>
  </div>
  <div class="row justify-space-between">
    <p class="mr-4 col-8 row-item-title">Ask Rate</p>
    <p class="col-3 row-item-description">{{ viewModel.exchangeRateData?.askRate }}</p>
  </div>
  <div class="row justify-space-between">
    <p class="mr-4 col-8 row-item-title">Bid Rate</p>
    <p class="col-3 row-item-description">{{ viewModel.exchangeRateData?.bidRate }}</p>
  </div>
  <div class="row justify-space-between">
    <p class="mr-4 col-8 row-item-title">Time to Live</p>
    <p class="col-3 row-item-description">{{ viewModel.exchangeRateData?.timeToLive }}</p>
  </div>
  <div class="flex-row justify-space-between mt-2">
    <app-button
      (clicked)="onDeclineQuote()"
      appearance="accent"
      class="grow"
      text="Decline"></app-button>
    <app-button (clicked)="onAcceptQuote()" class="grow ml-4" text="Accept"></app-button>
  </div>
</div>
