<ng-container *ngIf="viewModel$ | async as viewModel">
  <div class="mb-10 pb-4 row items-center justify-space-between border-bottom">
    <app-header [subtitle]="subtitle" [title]="title"></app-header>
    <app-button
      (clicked)="onAddCurrency()"
      appearance="flat"
      icon="tuiIconUserPlus"
      size="s"
      text="New crypto"></app-button>
  </div>
  <app-tabs
    (activeItemIndexChange)="activeTabIndexChanged($event)"
    [activeItemIndex]="viewModel.activeTabIndex"
    [tabs]="CurrencyTabs">
    <app-crypto-currencies
      (editCurrencyClicked)="onEditCurrency($event)"
      (paginationChanged)="cryptoCurrenciesPaginationChanged($event)"
      *ngIf="viewModel.activeTabIndex === CurrencyTabType.CryptoCurrencies"
      [cryptoCurrencies]="viewModel.cryptoCurrencyPage.data"
      [pagination]="viewModel.cryptoCurrenciesPagination"
      [total]="viewModel.cryptoCurrencyPage.total"></app-crypto-currencies>
    <app-fiat-currencies
      (paginationChanged)="fiatCurrenciesPaginationChanged($event)"
      *ngIf="viewModel.activeTabIndex === CurrencyTabType.FiatCurrencies"
      [currencies]="viewModel.fiatCurrencyPage.data"
      [pagination]="viewModel.fiatCurrenciesPagination"
      [total]="viewModel.fiatCurrencyPage.total"></app-fiat-currencies>
  </app-tabs>
</ng-container>
